<!DOCTYPE html><!-- Definicion de tipo de documento -->
<html lang="en"><!-- Apertura de la pagina html -->
<head><!-- Encabezado de la pagina html -->
    <meta charset="UTF-8"><!-- Codificacion de Caracteres especiales  -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge"><!-- IE -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css">
    <title>Books Register</title>
</head>
<body><!-- Contenido de la pagina html -->
    <div class="container" id="app">
        <div class="row p-2 ">
            <div class="col-12 col-md-6">
                <div style="width: 60rem;" class="card border-primary">
                    <div class="card-header bg-primary text-white" style="width: 60rem;">books register</div>
                    <div class="card-body">
                        <form id="frmLibro" @submit.prevent="guardarLibro" @reset.prevent="nuevoLibro()">
                            <div class="row p-1">
                                <div class="col-3 col-md-2">AUTOR: </div>
                                <div class="col-9 col-md-6">
                                    <input class="form-control" type="text" v-model="libro.autor" name="txtAutorLibro" id="txtAutorLibro">
                                </div>
                            </div>
                            <div class="row p-1">
                                <div class="col-3 col-md-2">ISBN: </div>
                                <div class="col-9 col-md-6">
                                    <input class="form-control" type="text" v-model="libro.isbn" name="txtIsbnLibro" id="txtIsbnLibro">
                                </div>
                            </div>

                            <div class="row p-1">
                                <div class="col-3 col-md-2">TITULO: </div>
                                <div class="col-9 col-md-6">
                                    <input class="form-control" type="text" v-model="libro.titulo" name="txtTituloLibro" id="txtTituloLibro">
                                </div>
                            </div>
                            <div class="row p-1">
                                <div class="col-3 col-md-2">EDITORIAL </div>
                                <div class="col-9 col-md-6">
                                    <input class="form-control" type="text" v-model="libro.editorial" name="txtEditorialLibro" id="txtEditorialLibro">
                                </div>
                            </div>
                            <div class="row p-1">
                                <div class="col-3 col-md-2">EDICION </div>
                                <div class="col-9 col-md-6">
                                    <input class="form-control" type="text" v-model="libro.edicion" name="txtEdicionLibro" id="txtEdicionLibro">
                                </div>
                            
                            <div class="row p-6">
                                <div class="col-3 col-md-3">
                                <br>
                                    <input class="btn btn-success" type="submit" value="Guardar Datos">
                                </div>

                                <div class="col-3 col-md-3">
                                <br>
                                    <input class="btn btn-warning" type="reset" value="Nuevo Registro">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card-body">
        <form>
           <br>
            <table class="table table-dark table-striped">
                <thead>
                    <tr>
                        <th>BUSCAR:</th>

                        <th colspan="8"><input type="text" @keyup="listarLibros()" v-model="buscar" 
                            class="form-control" placeholder="Buscar por nombre" ></th>
                    </tr>
                    <tr>
                        <th>AUTOR:</th>
                        <th colspan="1">ISBN:</th>
                        <th colspan="1">TITULO:</th>
                        <th colspan="1">EDITORIAL:</th>
                        <th colspan="2">EDICION</th>


                       

                    </tr>
                </thead>
                <tbody>
                    <tr v-for="libro in libros" @click='modificarLibro(libro)' :key="libro.idLibro">
                        <td>{{libro.autor}}</td>
                        <td>{{libro.isbn}}</td>
                        <td>{{libro.titulo}}</td>
                        <td>{{libro.editorial}}</td>
                        <td>{{libro.edicion}}</td>
                       
                        <td><button @click.prevent="eliminarLibro(libro)" class="btn btn-danger">Eliminar</button></td>
                    </tr>
                </tbody>
            </table>
        </form>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script>
    const { createApp } = Vue;
        createApp({
            data() {
                return {
                    buscar: '',
                    libros:[],
                    accion : 'nuevo',
                    libro:{
                        idLibro:0,
                        autor:'',
                        isbn:'',
                        titulo:'',
                        editorial:'',
                        edicion:''
                        
                    }
                }
            },
            methods:{
                nuevoLibro(){
                    this.accion = 'nuevo';
                    this.libro.idLibro = '';
                    this.libro.autor = '';
                    this.libro.isbn = '';
                    this.libro.titulo = '';
                    this.libro.editorial = '';
                    this.libro.edicion = '';

                   
                },
                modificarLibro(libro){
                    this.accion = 'modificar';
                    this.libro = libro;
                },
                guardarLibro(){
                    this.listarLibros();
                    if( this.accion==='nuevo' ){
                        this.libro.idLibro = new Date().getTime().toString(16);//las cantidad milisegundos y lo convierte en hexadecimal
                        this.libros.push( JSON.parse(JSON.stringify(this.libro)) );
                    }else if(this.accion==='modificar'){
                        //hacer la busqueda y modificar el registro
                        let index = this.libros.findIndex(libro=>libro.idLibro==this.libro.idLibro);
                        this.libros[index] = JSON.parse(JSON.stringify(this.libro));
                    }else if(this.accion==='eliminar'){
                        let index = this.libros.findIndex(libro=>libro.idLibros==this.libro.idLibro);
                        this.libros.splice(index, 1);
                    }
                    localStorage.setItem('libros', JSON.stringify(this.libros));
                    this.nuevoLibro();
                },
                eliminarLibro(libro){
                    if( confirm(`Esta seguro de eliminar este libro${libro.titulo}?`) ){
                        this.accion="eliminar";
                        this.libro = libro;
                        this.guardarLibro();
                    }
                },
                listarLibros(){
                    this.libros = JSON.parse( localStorage.getItem('libros') || "[]" )
                        .filter(libro=>libro.titulo.toLowerCase().indexOf(this.buscar.toLowerCase())>-1);
                }
            },
            created(){
                this.listarLibros();
            }
        }).mount('#app')
    </script>
</body>
</html>